body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #221133;
    color: white;
}

header {
    background-color: #333;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

h1 {
    color: white;
    text-align: center;
}

main {
    margin: 20px;
}

form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

label, input, textarea, button {
    margin: 10px 0;
}

input, textarea {
    padding: 10px;
    font-size: 1em;
    width: 100%;
}

button {
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

.foto {
    display: block;
    margin: 20px auto;
    border-radius: 50%;
    max-width: 200px;
    height: auto;
}